
@{
    ViewBag.Title = "ViewBank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="PageBody">
        <div class="form-row">
            <div class="form-Bank col-md-4">
                <label for="txtBankName">Bank Name:</label>
                <input type="text" class="form-control col-md-11" id="txtBankName">
            </div>
            <div class="form-Bank col-md-8">
                <label for="txtAddress">Address:</label>
                <input type="text" class="form-control col-md-12" id="txtAddress">
            </div>
        </div>
        <div class="form-row">
            <div class="form-Bank col-md-4">
                <label for="cboActivityStatus">Activity Status:</label>
                <select id="cboActivityStatus" class="form-control col-md-11"></select>
            </div>

            <div class="form-Bank col-md-8">
                <label for="txtRemarks">Remarks:</label>
                <input type="text" class="form-control col-md-12" id="txtRemarks">
            </div>
        </div>
        <div class="form-row PageActionButton">
            <button id="btnSave" type="button" class="btn btn-success ActionButton" aria-label="Left Align">Save</button>
            <button id="btnBack" type="button" class="btn btn-danger ActionButton" aria-label="Left Align">Back</button>
        </div>
    </div>
<script type="text/javascript">
        var _oBank = [];
    var _oActivityStatus = [];

        $(document).ready(function () {
            debugger;
            _oBank = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Bank));
            _oActivityStatus = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ActivityStatus));
            MLoadComboBox('cboActivityStatus', _oActivityStatus);
            RefreshComponents(_oBank);
            SetPageHeader('Bank Information');
        });
    function RefreshComponents(obj) {
        if (obj == null) {
            $('#txtBankName').val('');
            $('#txtAddress').val('');
            $('#txtRemarks').val('');
            $('#cboActivityStatus').val(0);
        }
        else {
            $('#txtBankName').val(obj.BankName);
            $('#txtAddress').val(obj.Address);
            $('#txtRemarks').val(obj.Remarks);
            $('#cboActivityStatus').val(obj.ActivityStatus);
        }
    }
        function RefreshObject() {
            debugger;
            var oDataObject = {
                BankID : _oBank.BankID,
                BankName: $('#txtBankName').val(),
                Address: $('#txtAddress').val(),
                Remarks: $('#txtRemarks').val(),
                ActivityStatus: $('#cboActivityStatus').val()
            };
        return oDataObject;
    }
    $('#btnBack').click(function (e) {
        MBackLink();
    });
    $('#btnSave').click(function (e) {
        debugger;
        var oDataObject = RefreshObject();
        MSave(oDataObject, 'Bank', 'Save');
    });
</script>
