@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <table id="tblTreeMenus" title="" class="easyui-treegrid"
           data-options="
           idField:'id',
           treeField:'text',
           animate:false,
           checkbox: true,
           lines: true,
           onDblClickRow:function (rowIndex, rowData){$('#tblTreeMenus').treegrid('toggle', rowIndex.id)}">
        <thead>
            <tr>
                <th field="text" width="280">Menu Name</th>
                <th field="ControllerName" width="200">Controller Name</th>
                <th field="ActionName" width="260">Action Name</th>
                <th field="MenuSequence" width="80" align="center">Sequence</th>
                <th field="ActivityStatusSt" width="200" align="center">Activity Status</th>
            </tr>
        </thead>
    </table>
    <div class="col-12 PageActionButton">
        <button id="btnEdit" type="button" class="btn btn-success ActionButton" aria-label="Left Align">Update Access</button>
        <button id="btnBack" type="button" onclick="window.location.href = localStorage.getItem('BackLink')" class="btn btn-danger ActionButton" aria-label="Left Align">Back</button>
    </div>
</div>
<script type="text/javascript">
    var _oMenus = [];
    var _UserMenus = [];
    var _oUser = [];
    var _sTreeMenuIDs = "";
    $(document).ready(function () {
        debugger;
        _oMenus = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Menus));
        _UserMenus = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.UserMenus));
        _oUser = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.User));
        SetPageComponents();
    });
    function SetPageComponents() {
        MLoadTreeGrid('tblTreeMenus', _oMenus);
        SetPageHeader('User Wise Menu Mapping For User : ' + _oUser.UserName);
        if (_UserMenus.length > 0)
        {
            for (var j = 0; j < _UserMenus.length; j++) {
                $('#tblTreeMenus').treegrid('checkNode', _UserMenus[j].MenuID);
            }
        }
    }
    $('#btnEdit').click(function (e) {
        var obj = $('#tblTreeMenus').treegrid('getCheckedNodes');
        _sTreeMenuIDs = "";
        for (var i = 0; i < obj.length; i++) {
            GetParent(obj[i]);
        }
        var sMenuIDArray = _sTreeMenuIDs.substring(0, _sTreeMenuIDs.length - 1).split(",");
        _oUser.ErrorMessage = [...new Set(sMenuIDArray)].join(",");
        MSave(_oUser, 'UserMenuMapping', 'SaveUserMenuMapping');
    });
    function GetParent(obj) {
        _sTreeMenuIDs = obj.id + ',' + _sTreeMenuIDs;
        if (obj.parentid != 0)
        {
            var parentObj = $('#tblTreeMenus').treegrid('find', obj.parentid);
            GetParent(parentObj);
        }
    }
</script>






