<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MERP.Reports.Properties.Settings.CSMDBConnectionString"
            connectionString="Data Source=EG-04006043262;Initial Catalog=CSMDB;Persist Security Info=True;User ID=ali.akram;Password=@ALIakram"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>