@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <table id="tblSegmentInfos" class="easyui-datagrid" style="width:100%"
           data-options="
    rownumbers:true,
    singleSelect:true,
    collapsible:false,
    toolbar:'#toolbar'">
        <thead>
            <tr>
                <th data-options="field:'SegmentName', width:250, align:'left'">Segment</th>
                <th data-options="field:'SegmentCode', width:250, align:'left'">Code</th>
                <th data-options="field:'IsInActiveSt', width:100, align:'center'">In Active</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <div class="easyui-panel" style="width:100%">
            <a class="easyui-linkbutton" onclick="location.reload()" data-options="plain:true,iconCls:'icon-reload'"></a>
            <input type="text" id="txtSearch" class="form-control-sm MSearchBox" placeholder="Type and Enter">
            <a id="btnAdd" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">New</a>
            <a id="btnEdit" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit'">Edit</a>
            <a id="btnDelete" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Delete</a>
            <select id="cboPagination" style="float:right; height:30px"></select>
        </div>
    </div>
</div>
<div id="winEdit" class="easyui-window" title="Segment Information" data-options="modal:true,closed:true,border:'thin',cls:'c1'" style="width:400px; height:400px; padding:20px">
    <div class="form-row">
        <div class="form-group col-md-12">
            <input type="hidden" id="txtSegmentID">
            <label for="txtSegmentName">Segment Name</label>
            <input type="text" class="form-control col-md-12" id="txtSegmentName">
        </div>
        <div class="form-group col-md-12">
            <label for="txtSegmentCode">Segment Code</label>
            <input type="text" class="form-control col-md-12" id="txtSegmentCode" readonly>
        </div>
        <div class="form-group col-md-12">
            <label for="cboIsInActive">Is InActive</label>
            <select class="form-control col-md-12" id="cboIsInActive">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>
        </div>
    </div>
    <div class="form-group col-md-12 ActionButton">
        <button id="btnWinSave" type="button" class="btn btn-success ActionButton" style="float:right" aria-label="Left Align">Save</button>
        <button id="btnWinClose" type="button" class="btn btn-danger ActionButton" style="float:right" aria-label="Left Align">Close</button>
    </div>
</div>
<script type="text/javascript">
    var _oSegmentInfos = [];
    $(document).ready(function () {
        SetPageHeader('Segment Setup');
        _oSegmentInfos = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.SegmentInfos));
        MLoadDataGrid('tblSegmentInfos', _oSegmentInfos, 'Segment List', 100, 'cboPagination');
    });
    $("#cboPagination").change(function () {
        MPaginationPageLoad('tblSegmentInfos', _oSegmentInfos, 100, 'cboPagination');
    });
    $('#btnAdd').click(function (e) {
        MWinPickerOpen(1, 'tblSegmentInfos', 'winEdit', 'RefreshWinObject');
    });
    $('#btnEdit').click(function (e) {
        MWinPickerOpen(2, 'tblSegmentInfos', 'winEdit', 'RefreshWinObject');
    })
    $("#btnDelete").click(function () {
        MDelete('tblSegmentInfos', 'SegmentInfo', 'Delete');
    });
    $('#btnWinClose').click(function (e) {
        $('#winEdit').window('close');
    });
    $("#txtSearch").keyup(function (e) {
        if (e.keyCode == 13) {
            MSearch('tblSegmentInfos', 'txtSearch', 'SegmentInfo', 'Search');     // only for Enter Press
        }
    });
    $("#btnWinSave").click(function () {
        MWinPickerSave(MakeObject().SegmentID, MakeObject(), 'SegmentInfo', 'Save', 'tblSegmentInfos','winEdit','')
    });
    function RefreshWinObject(obj) {
        $('#winEdit').window('open');
        if (obj == null) {
            $('#txtSegmentID').val(0);
            $('#txtSegmentName').val("");
            $('#txtSegmentCode').val("");
            $('#cboIsInActive').val(0);
        }
        else {
            $('#txtSegmentID').val(obj.SegmentID);
            $('#txtSegmentName').val(obj.SegmentName);
            $('#txtSegmentCode').val(obj.SegmentCode);
            $('#cboIsInActive').val(obj.IsInActiveInt);
        }
    }
    function MakeObject() {
        var obj = {
            SegmentID: $('#txtSegmentID').val(),
            SegmentName:$('#txtSegmentName').val(),
            SegmentCode: $('#txtSegmentCode').val(),
            IsInActive: parseInt($('#cboIsInActive').val()),
        }
        return obj;
    }
</script>






