@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <table id="tblBusinessUnits" class="easyui-datagrid" style="width:100%"
           data-options="
    rownumbers:true,
    singleSelect:true,
    collapsible:false,
    toolbar:'#toolbar'">
        <thead>
            <tr>
                <th data-options="field:'BusinessUnitName', width:250, align:'left'">Project Name</th>
                <th data-options="field:'CompanyName', width:250, align:'left'">Company Name</th>
                <th data-options="field:'BusinessOwnerName', width:150, align:'center'">Owner Name</th>
                <th data-options="field:'IsAutoSt', width:120, align:'center'">Auto</th>
                <th data-options="field:'IsManualSt', width:120, align:'center'">Manual</th>
                <th data-options="field:'IsInActiveSt', width:120, align:'center'">InActive</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <div class="easyui-panel" style="width:100%">
            <a class="easyui-linkbutton" onclick="location.reload()" data-options="plain:true,iconCls:'icon-reload'"></a>
            <input type="text" id="txtSearch" class="form-control-sm MSearchBox" placeholder="Type and Enter">
            <a id="btnAdd" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">New</a>
            <a id="btnEdit" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit'">Edit</a>
            <a id="btnDelete" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Delete</a>
            <select id="cboPagination" style="float:right; height:30px"></select>
        </div>
    </div>
</div>
<script type="text/javascript">
    var _oBusinessUnits = [];
    $(document).ready(function () {
        debugger;
        SetPageHeader('Project Names');
        _oBusinessUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        MLoadDataGrid('tblBusinessUnits', _oBusinessUnits, 'BusinessUnit List', 100, 'cboPagination');
    });
    $("#cboPagination").change(function () {
        MPaginationPageLoad('tblBusinessUnits', _oBusinessUnits, 100, 'cboPagination');
    });
    $('#btnAdd').click(function (e) {
        MAdd('tblBusinessUnits', 'BusinessUnit', 'ViewBusinessUnit');
    });
    $('#btnEdit').click(function (e) {
        debugger;
        MEdit('tblBusinessUnits', 'BusinessUnit', 'ViewBusinessUnit');
    })
    $("#btnDelete").click(function () {
        MDelete('tblBusinessUnits', 'BusinessUnit', 'Delete');
    });
    $("#txtSearch").keyup(function (e) {
        debugger;
        if (e.keyCode == 13) {
            MSearch('tblBusinessUnits', 'txtSearch', 'BusinessUnit', 'Search');     // only for Enter Press
        }
    });

</script>






