@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <table id="tblStudentInfos" class="easyui-datagrid" style="width:100%"
           data-options="
    rownumbers:true,
    singleSelect:true,
    collapsible:false,
    toolbar:'#toolbar'">
        <thead>
            <tr>
                <th data-options="field:'StudentCode', width:150, align:'center'">Code</th>
                <th data-options="field:'StudentFullName', width:400, align:'left'">Full Name</th>
                <th data-options="field:'RollNo', width:150, align:'center'">Roll No</th>
                <th data-options="field:'GenderSt', width:150, align:'center'">Gender</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <div class="easyui-panel" style="width:100%">
            <a class="easyui-linkbutton" onclick="location.reload()" data-options="plain:true,iconCls:'icon-reload'"></a>
            <input type="text" id="txtSearch" class="form-control-sm MSearchBox" placeholder="Type and Enter">
            <a id="btnAdd" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">New</a>
            <a id="btnEdit" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit'">Edit</a>
            <a id="btnDelete" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Delete</a>
            <select id="cboPagination" style="float:right; height:30px"></select>
        </div>
    </div>
</div>
<script type="text/javascript">
    var _oStudentInfos = [];
    $(document).ready(function () {
        debugger;
        SetPageHeader('Student List');
        _oStudentInfos = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.StudentInfos));
        MLoadDataGrid('tblStudentInfos', _oStudentInfos, 'StudentInfo List', 100, 'cboPagination');
    });
    $("#cboPagination").change(function () {
        MPaginationPageLoad('tblStudentInfos', _oStudentInfos, 100, 'cboPagination');
    });
    $('#btnAdd').click(function (e) {
        MAdd('tblStudentInfos', 'StudentInfo', 'ViewStudentInfo');
    });
    $('#btnEdit').click(function (e) {
        debugger;
        MEdit('tblStudentInfos', 'StudentInfo', 'ViewStudentInfo');
    })
    $("#btnDelete").click(function () {
        MDelete('tblStudentInfos', 'StudentInfo', 'Delete');
    });
    $("#txtSearch").keyup(function (e) {
        debugger;
        if (e.keyCode == 13) {
            MSearch('tblStudentInfos', 'txtSearch', 'StudentInfo', 'Search');     // only for Enter Press
        }
    });

</script>






